<%= select 'record', :approved_by, contacts,
              :name => input_name, :prompt => "Choose One", :selected =>  contact.id%>
<%= add_contact_link('approved-by-select','pc01/approved_by_select') %>


