<div class="active-scaffold">
  <div class="create-view view">

<div id="messages">
</div>

<% form_for :charge_back_items, :url => { :action => 'charge_back' } do |f| %>
<h4>Charge Back Items</h4>
<br/>
Check Items to be Charged Back and enter total amount to be charged back per line:<br/>
<br/>
<div id='items'>
<%= render :partial => 'pc01_item', :collection => @pc01_items %>
</div>
<br/>
<%= submit_tag "Charge Back" %> or <%= link_to "Cancel", :action => 'list' %>
<% end %>

</div>
</div>
