<%= select :emlpoyer, 'id', Company.employers, { :prompt => 'Choose employer' },
    { :onchange => "new Ajax.Request('/contact/employer_changed/' + this[this.selectedIndex].value,
    { asynchronous:true, evalScripts:true});", :class => 'employer'} %>


