<div class="active-scaffold">
  <div class="create-view view">

<h4>Request Failed</h4>
<br/>
There were no suitable subnets for your request<br/>
<%= link_to "Done", :action => 'list' %>

</div>
</div>

