<div class="active-scaffold">
  <div class="create-view view">

<h4>Create new subnet</h4>

<% form_for :subnet, :url => { :action => 'request_step2' } do |f| %>
Select Network Class:<br/>
<%= select 'network_class', 'id', @network_classes, :prompt => "Choose One" %><br/>
<br/>
Select Topology:<br/>
<%= select 'topology', 'id', @topologies, :prompt => "Choose One"%><br/>
<br/>
<%= submit_tag "Next" %> or <%= link_to "Cancel", :action => 'list' %>
<% end %>


</div>
</div>

